.button {
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $blue-black;
  background-color: $white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $warm-sky;
  }

  &:focus {
    background-color: $warm-sky;
  }

  &:active {
    opacity: 0.6;
  }
}
