.main-menu {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $white;

  @include clear-ul;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: $white;

    &--no-js {
      flex-direction: column;
    }
  }
}

.main-menu__item {
  margin-left: 34px;
  margin-bottom: 10px;

  &:first-child {
    //margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    margin-left: 24px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: 0;
    margin-top: 21px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.main-menu__link {
  text-decoration: none;
  color: $white;

  &:visited {
    color: $white;
  }

  &[href] {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $blue-black;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    &[href] {
      color: $blue-black;

      &:visited {
        color: $blue-black;
      }
    }
  }
}
