.next-tours {
  display: flex;
  flex-direction: column;
  padding: 120px 118px;

  @media (max-width: $tablet-width) {
    padding: 100px 60px;
  }

  @media (max-width: $mobile-width) {
    padding: 65px 25px;
  }
}

.next-tours__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 21px;
  margin: 0 auto 60px auto;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 17px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 40px auto;
    font-size: 24px;
    line-height: 18px;
  }
}

.next-tours__tourslist {
  display: flex;
  flex-wrap: wrap;

  @include clear-ul;
}

.next-tours__tour {
  width: calc((100% - 90px) / 4);
  min-height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  padding: 35px 25px;
  margin-left: 30px;
  margin-top: 30px;
  overflow: hidden;
  color: $white;
  background-color: $blue-black;

  @media (min-width: $tablet-width) {
    &:nth-child(4n+1) {
      margin-left: 0;
    }

    &:nth-child(-n+4) {
      margin-top: 0;
    }
  }

  @media (max-width: $tablet-width) and (min-width: $mobile-width) {
    width: calc((100% - 30px) / 2);
    padding: 35px 35px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 35px 25px;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: -5px 0 0;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0 0;
  }

  p {
    margin: 0;

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  picture {
    width: 100%;
  }

  button {
    margin-top: auto;
  }

  &:hover {
    div {
      display: none;
    }
  }
}

.next-tours__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(to bottom, $white 0%, $blue-black 50% $blue-black 100%);
}

.next-tours__picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.next-tours__name {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  padding: 0 30px;
  left: 0;
  bottom: 22px;

  @media (max-width: $tablet-width) {
    padding: 0 35px;
    bottom: 27px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 25px;
    bottom: 18px;
  }
}
