.promo {
  width: 100%;
  min-height: 540px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  color: $white;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: $tablet-width) {
    min-height: 551px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $mobile-width) {
    min-height: 438px;
    font-size: 16px;
    line-height: 22px;
  }
}

.promo__info {
  margin-left: 198px;
  margin-bottom: 10px;
  margin-top: -110px;

  @media (max-width: $tablet-width) {
    margin-left: 45px;
    margin-top: -85px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: -62px;
  }

  h2 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;

    br {
      display: none;
    }

    @media (max-width: $tablet-width) {
      font-size: 50px;
      line-height: 61px;
    }

    @media (max-width: $mobile-width) {
      font-size: 36px;
      line-height: 45px;

      br {
        display: inline;
      }
    }
  }
}

.promo__slogan {
  width: 70%;
  display: block;
}
