.top-wrapper {
  display: flex;
  flex-direction: column;

  background: url("../img/header-bg-desktop@1x.jpg") no-repeat 50% 50%/cover $blue;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/header-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/header-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.jpg");
    }
  }
}
